/*-------------------------------------------------------
4. Progress Bar css 
---------------------------------------------------------*/

.progress-wpr.grid-2 {
	grid-gap: 10rem;
}

.progress-box {
	margin-bottom: 4rem;
	&:last-child {
		margin-bottom: 0;
	}
	h5 {
		margin-bottom: 2rem;
		font-weight: 500;
		color: var(--body-color);
		display: flex;
		justify-content: space-between;
	}
	.progress {
		height: 1rem;
		background-color: #e9ecef;
		border-radius: .25rem;
	}
	.progress-bar {
		color: #fff;
		text-align: center;
		background-color: #7854f7;
	}
}
