
/*-------------------------------------------------------
1. Variable
---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --heading-color: #120f2d;
  --bg-color: #f6f5fd;
  --body-color: #46435e;
  --theme-color: #3a44ca;
  --thm-clr-2: #ee4158;
  --white-color: #fff;
  --black-color: #000;
  --light-color: #EFEFEF;
  --lightgrey-color: #ccc;
  --font-1: 'Hind', sans-serif;
  --font-2: 'Poppins', sans-serif;
}
